/* General */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #444;
    background-color: #fff;
}
.structureWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.gridWrapper {
    margin: 0 auto;
    padding: 0 25px;
    max-width: 1186px;
}

.introductionText {
    margin-bottom: 30px;
}
.header {
    box-sizing: border-box;
    width: 100%;
    padding: 25px 0;
    background-color: #102A47;
}
.content {
    padding: 50px 0;
    flex: 1 1 0;
}
.footer {
    padding: 10px 0;
    text-align: center;
    color: rgba(255, 255, 255);
    background-color: #333;
}

/* Logo */
.logo {
    display: block;
    width: auto;
    height: 36px;
}

/* Text */
.headline {
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 0.5em;
}
.paragraph {
    margin-top: 0.5em;
}
.paragraph:first-of-type {
    margin-top: 0;
}

/* Fizz Buzz list */

.fizzBuzzList {
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.1);
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
    max-width: 350px;
    width: 100%;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 24px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    -webkit-transition: .3s box-shadow;
    -o-transition: .3s box-shadow;
    transition: .3s box-shadow;
}

.fizzBuzzList__list {
    overflow-y: auto;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-height: 250px;
}

.fizzBuzzList__list--fizzBuzz {
    color: #BA0000;
    font-weight: bold;
}

.fizzBuzzList__list--fizz {
    color: #0A78CE;
    font-weight: bold;
}

.fizzBuzzList__list--buzz {
    color: #7CC305;
    font-weight: bold;
}

.fizzBuzzList__headline  {
    font-size: .9rem;
    letter-spacing: .025em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 17px;
}

.fizzBuzzList__list::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
}
  
.fizzBuzzList__list::-webkit-scrollbar-track {
    background: #ecf0f3;
    border: 0 solid #fff;
    border-radius: 3px;
}
  
.fizzBuzzList__list::-webkit-scrollbar-thumb {
    background: #595a5a;
    border: 1px solid #ecf0f3;
    border-radius: 50px;
}
  